.slider {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider .container-slider {
    position: absolute;
    width: 600px;
    height: 300px;
    top: calc(50% - 150px);
    left: calc(50% - 300px);
    transform: rotate(90deg);
    z-index: 2;
}

.slider .container-slider #sss {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 1;
}

.slider .jalousie {
    position: absolute;
    top: calc(50% - 150px);
    left: calc(50% - 20vw);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider .jalousie .lamelle {
    position: absolute;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
}